<div class="charts">
    <div class="title">
        <h3>Broj nekretnina po gradovima</h3>
    </div>
    <div class="chart1">
        <ngx-charts-bar-vertical [results] = "arrayChart1"
        [xAxis]="true"
        [yAxis]="true"
        style="fill: white;" ></ngx-charts-bar-vertical>
    </div>
    <div class="title">
        <h3>Broj stanova za prodaju/izdavanje</h3>
    </div>
    <div class="chart2">
        <ngx-charts-bar-vertical [results] = "arrayChart2"
        [xAxis]="true"
        [yAxis]="true"
        style="fill: white;" ></ngx-charts-bar-vertical>
    </div>
    <div class="title">
        <h3>Broj kuća za prodaju/izdavanje</h3>
    </div>
    <div class="chart3">
        <ngx-charts-bar-vertical [results] = "arrayChart3"
        [xAxis]="true"
        [yAxis]="true"
        style="fill: white;" ></ngx-charts-bar-vertical>
    </div>
    <div class="title">
        <h3>Broj nekretnina u određenim cenovnim rangovima</h3>
    </div>
    <div class="chart3">
        <ngx-charts-bar-vertical [results] = "arrayChart4"
        [xAxis]="true"
        [yAxis]="true"
        style="fill: white;" ></ngx-charts-bar-vertical>
    </div>
</div>